<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <title>Chatbot</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>

  <section class="msger">

    <header class="msger-header">
      <div class="msger-header-title">iChatGPT</div>
    </header>

    <main class="msger-chat">
      <div class="msg left-msg">
        <div class="msg-img" style="background-image: url(./static/chatbot.svg)"></div>
        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">iChatGPT</div>
          </div>

          <div class="msg-text">
            Hi! Send me a message to start chatting 😄
          </div>
        </div>
      </div>
    </main>

    <form class="msger-inputarea">

      <input type            = "file"
             id              = "upload-input"
             class           = "upload-input"
             multiple accept = "application/pdf"
             onchange        = "uploadFile(event)">

      <button class="upload-button" type="submit" onclick="document.getElementById('upload-input').click();">
        <img src="{{ url_for('static', filename='clippy.svg') }}" alt="Upload PDF">
      </button>

      <input type="text" class="msger-input" id="textInput" placeholder="Enter your message here...">
      <button type="submit" class="msger-send-btn">Send</button>

    </form>



    <div id="progress-container">
        <div id="progress-bar"></div>
    </div>

  </section>

  <script src="{{ url_for('static', filename='js_script.js') }}"> </script>

</body>

</html>