<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <title>Chatbot</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>

  <section class="msger">

    <header class="msger-header">
      <div class="msger-header-title">iChatGPT</div>
    </header>

    <main class="msger-chat">
      <div class="msg left-msg">
        <div class="msg-img" style="background-image: url(./static/chatbot.svg)"></div>
        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">iChatGPT</div>
          </div>

          <div class="msg-text">
            Hi! Send me a message to start chatting 😄
          </div>
        </div>
      </div>
    </main>

    <form class="msger-inputarea">
      <button class="upload-button" onclick="document.getElementById('upload-input').click();">
        <img src="./static/clippy.svg" alt="Upload PDF">
      </button>
      <input type="file" id="upload-input" class="upload-input" accept=".pdf" onchange="uploadFile(event)">
      <input type="text" class="msger-input" id="textInput" placeholder="Enter your message...">
      <button type="submit" class="msger-send-btn">Send</button>
    </form>

  </section>

  <script src="{{ url_for('static', filename='js_script.js') }}"> </script>

</body>

</html>